body{
    background-color: lightsteelblue;
}

h1 {
    text-align: center;
}

.gameTiles {
    background-color: lightslategray;
    display: flex;
    gap: 10px;
    gap: 10px 20px;
    column-gap: 20px;
    align-content: flex-start;
}

#tile{
    background-color: darkolivegreen;
    box-sizing: border-box; 
    border-radius: 5px;
    height: 100%x;
    width: 100%;
    border: solid 1px white;
    padding: 40px;
    display: inline-flex;
    

}
.gameButtons{
    background-color: hotpink;
    display: flex;
    height: 100vh;
    width: 200px;
    gap: 25px;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.button{
    background-color: aquamarine;
    display: flex;
    border: 10px solid darkorange;
    border-radius: 15px;
    height: 100px;
    width: 180x;
   
}

