body{
    background-color: lightsteelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* top of screen */
h1 {
    text-align: center;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:indigo;
}
/* screen below Header */
.flexCenter{
    display: flex;
    justify-content: center;
}

/* entire game screen */
 .gameScreen {
    display: flex;
 }
/* container for game tiles */
.gameTiles {
    height: 100vh;
    width: 1000px;
    background-color: lightgreen;
    display: flex;
    gap: 10px;
    gap: 10px 20px;
    column-gap: 20px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    
}
.tile{
    background-color: darkolivegreen;
    box-sizing: border-box; 
    border-radius: 5px;
    height: 180px;
    width: 180px;
    border: solid 1px white;
    padding: 20px;
    display: inline-flex;
    margin-left: 20px;
    }


.back {
    position: absolute;
    box-sizing: border-box;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    display: inline-flex; 
    visibility: hidden; 
    transform: rotateY(180deg); 
}

.flipTile {
    transform: rotateY(180deg);
    visibility: visible;
    background-color: aliceblue;
    position: relative;
    width: 150px;
    height: 150px;
}




/* container for buttons */
.gameButtons{
    background-color: hotpink;
    display: flex;
    height: 100vh;
    width: 300px;
    gap: 25px;
    justify-content: center;
    flex-direction: column;

}

.button{
    background-color: aquamarine;
    display: flex;
    border: 10px solid darkorange;
    border-radius: 15px;
    height: 100px;
    width: 150x;
    text-align: center;
   
}
























 /* container */
/* .gameBoard {
  display: grid;
  min-height: 100vh;
  margin: 0;
  grid-template-columns: 20%, 80%;
  grid-template-rows: 100vh; 
} */

/* left side of screen */
/* .gameButtons{
    background-color: hotpink;
    grid-column-start: 1px;
    grid-column-end: 200px;
    }  */

/* .button{
    background-color: aquamarine;
    padding: 28px 20px 30px 40px;
    border: 10px solid darkorange;
    border-radius: 15px;
    height: 100px;
    width: 180x;
    font-size: medium; 
   } */

/* right side of screen */
/* .gameTiles {
    background-color: lightslategray;
} 

.eachTile{
    background-color: darkolivegreen;
    border-radius: 5px;
    height: 120px;
    width: 120px;
    border: solid 2px white;
    padding: 40px;
} */

/*  AFTER 2 HOURS I CANT FIGURE OUR GRID SO I AM GOING BACK TO THE ORIGINAL FLEXBOX */
